torch
pesq
pystoi
pyyaml
scipy
soundfile
torchaudio
yamlargparse
torchinfo
tqdm
pysptk
pymcd
pyworld
fastdtw
museval
resampy
onnxruntime
gammatone
librosa
opencv-python
mir_eval
numpy<2.0.0
tensorboard
torch-complex
rotary-embedding-torch
python_speech_features
typeguard
scenedetect
torchvision
numba>=0.60.0
huggingface-hub
